html, 
body {
    --mdc-theme-primary: #ffc107;
    --mdc-theme-secondary: #03a9f4;
    
    --app-footer-background: #4d4d4d;
    --app-copyright-background: #474747;
    --app-button-height: 36px;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
}

a.anchor {
    display: none;
}

/* tablet */
@media (max-width:839px) {
    .container {
        width:98%;
    }
}

/* phone */
@media (max-width: 599px) {
}