.copyright {
    background-color: var(--app-copyright-background);
    color: var(--mdc-theme-text-primary-on-dark);
    text-align: center;
    font-size: 12px;
}

.copyright p {
    margin: 0;
}

.copyright a {
    color: var(--mdc-theme-primary);
    text-decoration: none;
}

.copyright a:hover {
    text-decoration: underline;
}